<div class="election-promo__close-button" onclick={{action 'closeModule'}}>
  {{fa-icon icon="times"}}
</div>

<div class="election-promo__top">
  <div class="election-promo__logo">
    <a href="https://elections.wnyc.org?utm_medium=partnersite&source={{utmSource}}&campaign=globalmidtermspromo" target="_blank">
      <img src="/nypr-election-countdown/assets/images/logo.png">
    </a>
  </div>

  <div class="election-promo__top-copy">
    <p class="election-promo__news">
      {{chunkContent}}
    </p>

    <a href="https://elections.wnyc.org?utm_medium=partnersite&source={{utmSource}}&campaign=globalmidtermspromo" target="_blank">
    {{election-countdown
      unit='days'
      to=countdownTo
      promo=true
      arrow=true
      class="election-promo__countdown"}}
    </a>
  </div>
</div>

{{election-promo/opt-in}}
